/HTMLPhysicsEngine_Chapter3_1/nbproject/private/
/HTMLPhysicsEngine_Chapter3_2/nbproject/private/
/HTMLPhysicsEngine_Chapter3_3/nbproject/private/
/HTMLPhysicsEngine_Chapter3_4/nbproject/private/
/HTMLPhysicsEngine_Chapter3_1_1/nbproject/private/
/HTMLPhysicsEngine_Chapter4_1/nbproject/private/
/HTMLPhysicsEngine_Chapter4_4/nbproject/private/
/HTMLPhysicsEngine_Chapter4_3/nbproject/private/
/HTMLPhysicsEngine_Chapter4_2/nbproject/private/
/Chapter1.1HTML5Canvas/nbproject/private/
/Chapter2.2TheRigidShape/nbproject/private/
/Chapter2.1TheRigidShape/nbproject/private/
/Chapter2.2TheCoreEngineLoop/nbproject/private/
/Chapter3.1TheBroadPhaseMethod/nbproject/private/
/Chapter3.2TheCircleCollisionDetection/nbproject/private/
/Chapter3.4TheRectangleCircleCollision/nbproject/private/
/Chapter3.3TheRectangleCollision/nbproject/private/